body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
}

/* Table Styles */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

    .table th, .table td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
    }

    .table tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .table tbody tr:hover {
        background-color: #e6e6e6;
    }

/* Table Action Buttons */
.actions {
    width: 200px;
    text-align: center;
}

    .actions a {
        text-decoration: none;
        color: white;
        padding: 5px 15px;
        margin: 0 5px;
        border-radius: 4px;
        font-size: 14px;
        width: 70px;
        text-align: center;
    }

        .actions a:hover {
            background-color: #f57c00;
        }

    .actions .btn-danger {
        background-color: #f44336;
    }

        .actions .btn-danger:hover {
            background-color: #d32f2f;
        }

.btnCreate {
    display: inline-block;
    margin-top: 20px;
    justify-content: center;
}

.create-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
}


    .create-btn:hover {
        background-color: #388e3c;
    }

media screen and (max-width: 768px) {
    .table th, .table td

{
    padding: 8px;
}

.create-btn {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
}

h2 {
    font-size: 1.5em;
}

.actions a {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
}
