@{
    ViewData["Title"] = "ViewCourse";
    Layout = "_Layout1";
}

@model IEnumerable<UserManagement.Models.Course>
<link href="~/css/CourseView.css" rel="stylesheet" />
<h2>Courses</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Credits</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.Credit</td>
            </tr>
        }
    </tbody>
</table>
