@{
    ViewData["Title"] = "CreateCourse";
    Layout = "_Layout2";
}
@model UserManagement.Models.Course
<link href="~/css/CUD.css" rel="stylesheet"/>
<h2>Create Course</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>
    <div class="form-group">
        <label for="Credit">Credit</label>
        <textarea class="form-control" id="Credit" name="Credit" required></textarea>
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
