@{
    ViewData["Title"] = "ManageCourse";
    Layout = "_Layout2";
}
 <div class="text-center">  
  	@if (ViewBag.IsLogin != null && ViewBag.IsLogin == 1)  
 	{  
		<h1 class="display-4">Welcome @ViewBag.Fullname</h1> 
        <a asp-controller="User" asp-action="Login"> Logout </a>
    }  
  	else  
  	{  
  		<h1 class="display-4">Welcome Guest</h1>  
  		<a asp-controller="User" asp-action="Login"> Login </a>  
  		<a asp-controller="Course" asp-action="index"> CourseManage </a>  
 	}  
  </div>
