@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@if (ViewBag.IsLogin != null && ViewBag.IsLogin == 1)
	{
		<h1 class="display-4">Welcome @ViewBag.Fullname</h1>
	}
	else
	{
		<h1 class="display-4">Welcome Guest</h1>
		<a asp-controller="User" asp-action="Login"> Login </a>
		<a asp-controller="User" asp-action="Register"> Register </a>
	}

</div>
